body {
    background-image: url("backgroundImage.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  a{
    color: darkcyan;
  }
  a:hover{
    color: red;
  }
  h1{
    text-align: center;
    font-size: 45px;
    font-weight: 550;
  }
  p{
    text-align: center;
  }
  .row-container{
    border: 2px solid;
    border-color: deepskyblue;
    border-radius: 10px;
    margin-top: 20vh;
    margin-left: 60vw;
    padding: 70px;
    background: white;
    -webkit-box-shadow: -1px 1px 18px 1px rgba(50,58,214,1);
    -moz-box-shadow: -1px 1px 18px 1px rgba(50,58,214,1);
    box-shadow: -1px 1px 18px 1px rgba(50,58,214,1);
  }
  .form-control{
    border-radius: 15px;
  }
  .form-control input[id="firstname"]{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }